<h1>Reset Password</h1>

<%= form_with model: @user, url: password_resets_update_path(token: params[:token]), method: :put do |form| %>
  <% if @user.errors.any? %>
    <div class='error_messages'>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class='field'>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div class='actions'><%= form.submit 'Update password' %></div>
<% end %>