<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

<%= stylesheet_link_tag "geocoder" %>

<div class="container border border-color pb-3 pt-3 rounded mb-5 mt-5">
    <%= form_with model: @game, url: create_game_path, data: {turbo: 'false'} do |form| %>
        <div class="mb-3">
        	<%= form.label :sport_id, class: "form-label" %>
        	<%= form.select :sport_id, @sports, {}, class:"form-select #{"is-invalid" if @game.errors[:sport_id].present? }"%>
        </div>

        <div class="mb-3">
        	<%= form.label :start_date, class: "form-label" %>
        	<%= form.datetime_field :start_date, class: "form-control #{"is-invalid" if @game.errors[:start_date].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @game, input: :start_date } if @game.errors[:start_date].present? %>
        </div>

        <div class="mb-3">
        	<%= form.label :end_date, class: "form-label" %>
        	<%= form.datetime_field :end_date, class: "form-control #{"is-invalid" if @game.errors[:end_date].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @game, input: :end_date } if @game.errors[:end_date].present? %>
        </div>
    	
        <div class="mb-3">
        	<%= form.label :info, class: "form-label" %>
        	<%= form.text_area :info, class: "form-control #{"is-invalid" if @game.errors[:info].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @game, input: :info } if @game.errors[:info].present? %>
        </div>

        <div class="mb-3">
        	<%= form.hidden_field :latitude %>
            <%= form.hidden_field :longitude %>
        	<%= form.hidden_field :address %>
        </div>

    	<!-- Map -->
        <div class="mb-3">
            <%= form.label :address, class: "form-label" %>
    	   <div id="geocoder"></div>
           <%= render partial: "shared/input_feedback", locals: { model_input: @game, input: :address } if @game.errors[:address].present? %>
        </div>

    	<div class="text-end">
            <%= form.submit "Create", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>

<%= javascript_include_tag "geocoder" %>