<div class="container my-5 ">
	<div class="d-flex flex-row-reverse">
		<div class="mx-1">
			<% if @game.is_it_from_the_user?%>
				<button type="button" class="btn btn-danger my-2" data-bs-toggle="modal" data-bs-target="#ModalDelete">
				  Delete
				</button>
			<% end %>
		</div>
		<div class="mx-1">
			<%= link_to "Edit", edit_game_path(@game), class: "btn btn-info my-2", data: {turbo: 'false'} if @game.is_it_from_the_user? %>
		</div>
	</div>
	<div class="card">
		<div class="card-header text-primary">
		    <%= @game.sport.name %>
		</div>
		<div class="card-body">
		    <h5 class="card-title">
		    	Organizer:
		    	<%= link_to @game.user.name, profile_path(@game.user.username)%>
		    </h5>
			<p class="card-text">
				Address: <%= @game.address %>
				<div class="position-relative">
					<%= render partial: "map", locals: { position: @game.localization } %>
				</div>
			</p>
			<p class="card-text">
				Start Time: <%= @game.start_date.strftime("%I:%M%p") %> <br>
				Start Date: <%= @game.start_date.to_date %>
			</p>
			<p class="card-text">
				End Time: <%= @game.end_date.strftime("%I:%M%p") %> <br>
				End Date: <%= @game.end_date.to_date %>
			</p>
		</div>
		<div class="card-footer text-primary">
			Info: <%= @game.info %> <br>
		</div>
	</div>
</div>

<%= render partial: "shared/modal_delete", locals: { game: @game } %>