<div class="container border border-color pb-3 pt-3 rounded mb-5 mt-5">
	<h2 class="text-center">Sign up</h2>

	<%= form_with model: @user, url: sign_up_path do |form| %>
		<div class="mb-3">
			<%= form.label :name, "Name", class: "form-label" %>
			<%= form.text_field :name, class: "form-control #{"is-invalid" if @user.errors[:name].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @user, input: :name } if @user.errors[:name].present? %>
		</div>

		<div class="mb-3">
			<%= form.label :username, class: "form-label" %>
			<%= form.text_field :username, class: "form-control #{"is-invalid" if @user.errors[:username].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @user, input: :username } if @user.errors[:username].present? %>
		</div>

		<div class="mb-3">
			<%= form.label :email, class: "form-label" %>
			<%= form.email_field :email, class: "form-control #{"is-invalid" if @user.errors[:email].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @user, input: :email } if @user.errors[:email].present? %>

		</div>

		<div class="mb-3">
			<%= form.label :password, class: "form-label" %>
			<%= form.password_field :password, class: "form-control #{"is-invalid" if @user.errors[:password].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @user, input: :password } if @user.errors[:password].present? %>
		</div>

		<div class="mb-3">
			<%= form.label :password_confirmation, class: "form-label" %>
			<%= form.password_field :password_confirmation, class: "form-control #{"is-invalid" if @user.errors[:password_confirmation].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @user, input: :password_confirmation } if @user.errors[:password_confirmation].present? %>
		</div>

		<div class="mb-3">
			<%= form.label :avatar, class: "form-label" %>
            <div id="img-container">
		        <img id="preview" class="img-fluid img-thumbnail mb-1" style="width: 150px;" src="">
		    </div>
			<%= form.file_field :avatar, accept:"image/*", class: "form-control #{"is-invalid" if @user.errors[:avatar].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @user, input: :avatar } if @user.errors[:avatar].present? %>
		</div>

		<div class="mb-3">
			<%= form.label :bio, class: "form-label" %>
			<%= form.text_area :bio, class: "form-control #{"is-invalid" if @user.errors[:bio].present? }" %>
            <%= render partial: "shared/input_feedback", locals: { model_input: @user, input: :bio } if @user.errors[:bio].present? %>
		</div>

		<div class="text-end">
			<%= form.submit "Create", class: "btn btn-primary" %>
		</div>
	<% end %>
	<div class="text-center">
		<%= link_to "Login", login_path %>
	</div>
</div>

<%= javascript_include_tag "image" %>
