<div class="container position-absolute top-50 start-50 translate-middle border border-color pb-3 pt-3 rounded">
	<h2 class="text-center">Login</h2>
	<%= form_with url: login_path, class: "position-relative" do |form| %>
		<div class="mb-3">
			<%= form.label :login, class: "form-label" %>
			<%= form.text_field :login, class: "form-control" %>
		</div>

		<div class="mb-3">
			<%= form.label :password, class: "form-label" %>
			<%= form.password_field :password, class: "form-control" %>
			<div class="text-end">
				<%= link_to "Forgot password", password_resets_path, class:"text-end" %>
			</div>
		</div>
		
		<div class="text-end">
			<%= form.submit "Login", class: "btn btn-primary" %>
		</div>
	<% end %>
	<div class="text-center">
		<%= link_to "Sign up", sign_up_path %>
	</div>
</div>
